*,p,ul,li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}
body{
    // position: relative;
    background: #E5E5E5;
}
span.colorful{
    font-weight: 700;
    background: linear-gradient(95.98deg, #A169F7 1.6%, #00AAFF 24.24%, #FF6163 50.71%, #97CF26 68.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}